.block__button {
    background-color: #0883D1;
    width: 269px;
    padding: 11px 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
}
.block__ph--bold {
    font-weight: bold;
}