.block__background.dispatch {
    background: url('../img/background-dispatch.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.block__img {
    width: 100%;
    height: auto;
}
.block__ph {
    margin-top: 20px;
    margin-bottom: 10px;
}
