.block__info.purchases.documents {
    display: flex;
    flex-direction: column;
    & .block__file {
        display: flex;
        flex-direction: row;
        margin: 20px 0;
        & img {
            width: 30px;
            height: 38px;
            margin-right: 20px;
        }
        & a {
            font-size: 20px;
            line-height: 23px;
            color: #0883D1;
            background: none;
        }
    }
}
