.purchases__block {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    position: relative;
    & span {
        font-weight: bold;
    }
    & p {
        margin: 16px 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    & .block__link {
        align-self: flex-end;
    }
}