.map {
    width: 100%;
}
.block__info {
    h3 {
        margin: 20px 0 16px;
    }
    h4 {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #2B2B2B;        
    }
    h5 {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #2B2B2B;
    }
    & .block__phones {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: 1024px) {
            display: flex;
            flex-direction: column;
        }
        & .block__phone {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
            & h5 {
                max-width: 410px;
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                color: #2B2B2B;
                margin-bottom: 9px;
            }
            & .block__telephone, & .block__email {
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 8px;
                color: #0883D1;
            }
            & .block__telephone::before {
                content: '';
                padding: 10px;
                margin-right: 14px;
                background: url('../img/contact-phone.svg') no-repeat center;
            }
            & .block__email::before {
                content: '';
                margin-right: 14px;
                background: url('../img/contact-mail.svg') no-repeat center;
                padding: 10px;
            }
        }
    }
    & .map {
        margin-bottom: 35px;
    }
    & form h5 {
        margin-bottom: 12px;
    }
    & .info-timetable {
        margin-bottom: 40px;
        & li {
            display: flex;
            align-items: baseline;
            position: relative;
            & .timetable__hours {
                position: absolute !important;
                left: 56px;
                top: 10px;
                &.friday {
                    top: -7px;
                }
                &.weekend {
                    top: 15px;
                    color: #A0A0A0;
                }
                & .timetable__chill {
                    color: #747474;
                    font-size: 12px;
                    line-height: 14px;
                    &::before {
                        content: '';
                        background: url('../img/cup.svg') no-repeat center;
                        margin-right: 3px;
                        padding: 4px 6px;
                    }
                }
            }
        }
    }
    & .block__props {
        display: flex;
        flex-direction: column;
        & p {
            margin-bottom: 20px;
        }
    }
    & .block__download {
        background: #0883D1;
        border-radius: 5px;
        padding: 11px 44px;
        color: #fff;
    }
}